@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Circular';
  src: url('/fonts/circular-std-2.woff2') format('woff2'),
       url('/fonts/circular-std-2.woff') format('woff'),
       url('/fonts/circular-std-2.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
